* {
  font-family: "Oswald", sans-serif;
  margin: 0%;
}

h1 {
  margin: 4%;
  color: rgb(129, 178, 154);
  font-size: 380%;
}
h2 {
  text-align: center;
}

#navheader {
  justify-content: space-around;
  flex-wrap: wrap;
  display: flex;
  background-color: rgb(242, 204, 143);
  color: white;
}

a:link {
  color: inherit;
  align-items: space-around;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-size: 250%;
}

a:visited {
  color: inherit;
  font-size: xx-large;
  text-decoration: none;
}

a:hover {
  color: rgb(129, 178, 154);
}

body {
  background-color: rgb(244, 241, 222);
  display: flex;
  flex-direction: column;
}

main {
  color: rgb(129, 178, 154);
  display: flex;
  flex-wrap: wrap;
}

#quoifaire {
  border: solid 10px rgb(242, 204, 143);
  border-radius: 75px;
  font-size: 25px;
  padding: 3%;
  margin-top: 12%;
  margin-left: auto;
  margin-right: 5%;
}

#activites {
}

footer {
  background-image: url(./media/village-vue-du-clocher-20210811151656.jpg);
}

#evenements {
  display: flex;
  flex-direction: column;
  background-color: rgba(242, 204, 143, 0.5);
}
